.home {
    height: calc(100% - 4px);
    width: calc(100% - 100px);
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.background {
    height: 100vh;
    width: 100%;
    background-color: black;
}

.locations {
    height: 120px;
}

.setup {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}