.background {
    height: 100vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
}

.home {
    height: 100%;
    width: calc(100% - 100px);
}

.homeImg {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 100%;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.landingMenuInterface {
    height: 50%;
    width: 240px;
    padding: 25px;
    background-color: black;
    margin-left: 10%;
    border: 5px solid wheat; 
    position: relative;
    margin-top: 20px;
    justify-content: flex-start;
}

.gameName {
    font-weight: bold;
    font-style: italic;
    font-size: calc(525%);
    font-family: Snell Roundhand, Luminari, cursive;
    margin-left: 12%;
    color: wheat;
    text-shadow: 1px 1px 2px firebrick, 0 0 1em black, 0 0 0.2em blue;
}

.version {
    margin-left: 5%;
    color: black;
    position: fixed;
    bottom: 0;
    margin: 10px;
    font-weight: bold;
}

.locations {
    height: 120px;
}

.setup {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.setupNewGame {
    width: 20%;
    min-width: 240px;
    justify-content: flex-start;
    margin: 40px;
    margin-left: -40px;
}

.overflow {
    overflow-y: auto;
    height: 300px;
    margin-left: 40px;
    width: calc(100% - 40px);
}

.bottomBox {
    margin-top: 10px;
    margin-left: 40px;
    width: calc(100% - 50px);
}

.raceTitle {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;
    font-family: Snell Roundhand, Luminari, cursive;
    font-size: calc(525%);
    color: oldlace;
}

.raceSelection {
    margin-top: 40px;
    margin-bottom: 40px;
    height: calc(100% - 140px);
    display: flex;
    flex-direction: row;
}

.raceImgs {
    height: calc(100% - 220px);
    width: calc(100% - 620px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.loreArea {
    width: 300px;
    height: calc(100% - 50px);
    overflow-y: auto;
    background-color: oldlace;
    opacity: 0.5;
    padding: 5px;
    color: black;
    font-weight: bold;
    border: 2px;
    border-radius: 5px;
}

.txtHead {
    margin-bottom: 2px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    font-family: Snell Roundhand, Luminari, cursive;
}

.txtBody {
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
    font-family: Snell Roundhand, Luminari, cursive;
    padding: 4px;
    font-weight: bold;
}

.txtBoxInr {
    overflow-y: auto;
    height: calc(100% - 80px);
}

.gameSetup {
    margin-left: 40px;
    width: 600px;
    max-height: 300px;
    overflow: auto;
}

.max {
    height: 100%;
    width: 100%;
}

.black {
    background-color: black;
}

.row {
    display: flex;
    flex-direction: row;
}

.window {
    background-color: rgba(120, 120, 120, 0.9);
    width: 70%;
    margin-top: 5%;
    height: 80%;
    border: solid;
    border-width: 10px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    overflow-y: auto;
}

.windowTitle {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.windowBody {
    margin-bottom: 10px;
}