.sideScroll {
    margin-left: 20px;
    width: calc(100% - 40px);
    margin-top: 5px;
    height: calc(100% - 10px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
}